{% extends "atipexBundle::layout.html.twig" %}

{% block title %}
Lost - {{ parent() }}
{% endblock %}

{% block Atipex_body %}
<form class="form-horizontal" method="POST" action="#">
<fieldset>
<legend>
            {% if app.session.get('langue') is empty %}
            Lost password
           {% else %}
	Mot de passe perdu
	{% endif %}</legend>
<div class="control-group">
  <label class="control-label" for="mail">E-mail</label>
  <div class="controls">
    <input id="mail" name="mail" placeholder="E-mail" class="input-medium" type="text" maxlength="20" onClick= "this.value='';">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
    <button id="Reset" name="Reset" type="reset" class="btn btn-inverse">Reset</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}