<h4>Newsletter</h4>

<form class="form-inline" method="POST" action="addn">
  <div class="form-group">
    <div class="controls">
    <div class="input-prepend">
    <input class="span2" name="mail" value="mail@domain.com" maxlength="20" id="inputIcon" type="text" style="text-align: right" onClick= "this.value='';" placeholder="E-Mail">
    <span class="add-on"><i class="icon-envelope"></i></span>
    </div>
    </div>

  <button type="submit" class="btn btn-default">
            {% if app.session.get('langue') is empty %}
            Send
           {% else %}
           Envoyer
  {% endif %}</button>

  </div>
</form>