    {% extends "atipexBundle::layout.html.twig" %}
{% block title %}
Login - {{ parent() }}
{% endblock %}
{% block Atipex_body %}
<form class="form-horizontal" method="POST" action="#">
<fieldset>
<legend>Envoyer un mail</legend>
<div class="control-group">
  <label class="control-label" for="subject">Subject</label>
  <div class="controls">
    <input id="subject" name="subject" placeholder="Subject" class="input-medium" type="text" onClick= "this.value='';" >
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="content">Content </label>
  <div class="controls">                     
    <textarea id="content" name="content" placeholder="Content" >Content mail</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
    <button id="Reset" name="Reset" type="reset" class="btn btn-inverse">Reset</button>
  </div>
</div>
</fieldset>
</form>
<a  align="center" href="{{ path('admin') }}"> Go CRUD HERE</a>
{% endblock %}
