#block{
	height: 400px;
	width: 500px;
	background-color: #2E64FE;
	position: relative;
	left: 137px;
	margin-top: 122px;
	box-shadow: 10px 10px 10px black;
	border-radius: 0px 0px 0px 141px;
	border-style: inset;
	border-width: 5px;
	border-color: blue;
}
#block2{
	background-color: #2E64FE;
	height: 400px;
	width: 500px;
	position: relative;
	margin-top: -410px;
	left: 647px;
	box-shadow:10px 10px 10px black;
	border-radius: 0 141px 0 0;
	border-color: blue;
	border-width: 5px;
	border-style: inset; 
}
#article{
	font-size: 253%;
	position: absolute; 
	top: 156px; 
	left: 55%; 
	font-family: fantasy; 
	color: rgb(88,130,250); 
	text-shadow:5px 5px 5px black;
}
#add{
	position: absolute;
	top: 302px;
	left: 718px;
}
#ref{
	margin:27px 0 15px 17px;
}
#stock{
	margin: 0 0 16px -2px;
}
#prix{
	margin: -1px 0 1px 10px;
}
#actualiser
{
	top: 20px;
}